#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

#submit {
  display:flex;
  align-items: center;
}

.App {
  text-align: center;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
  height: 200px;
}

.footTextTwo {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  color: black;
  padding: 5px;
  font-size: 15px;
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary);
  transition: all 0.5s;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}
/* Remove the jumbotron's default bottom margin */
 .jumbotron {
  margin-bottom: 0;
  height: 200px;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #F2F2F2;
  padding: 25px;
}
.panel.panel-primary {
min-height: 400px;
}
.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 0px;
  border-radius: 5px;
}
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.row {
margin: 0px;
}
.container {
border-radius: 5px;
padding: 2px 10px;
margin: 0;
}
@media (max-width: 700px){
.logo {
width: 350px;
}
}